<div class="page-layout blank p-24" fusePerfectScrollbar>
  <div *ngIf="response == false" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
    <div class="row" *ngIf="tag" fxLayoutAlign="center center">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image': getUrl()}"></div>
            <mat-card-title>{{tag.Name}}</mat-card-title>
            <mat-card-subtitle>{{tag.PetId}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image style="max-width: 100; max-height: 100;" src="{{tag.Photo}}" alt="{{tag.PetId}}">
          <mat-card-content>
            <p>
              {{tag.Description}} - TAG: {{tag.TagId}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Report</button>
            <button mat-button>Share</button>
          </mat-card-actions>
        </mat-card>
        
      </div>
      <div *ngIf="response == true && !tag">
        <h2 class=".mat-h2">This tag has not yet been activated</h2>
        <button mat-fab (click)="activate()">Activate</button>
      </div>
      <mat-divider></mat-divider>
      <br>
      <button mat-raised-button  (click)="goBack()">Go Back</button>
</div>