<div class="page-layout blank p-24" fusePerfectScrollbar >
  <h1 fxLayout="row" fxLayoutAlign="center start" class=".mat-h1">My furry friends</h1>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div>
      <button mat-fab color="primary" (click)="addPet()"><mat-icon aria-label="add">add</mat-icon></button>Add a new friend!  
    </div>
    <button mat-fab color="primary" (click)="refresh()"><mat-icon aria-label="add">refresh</mat-icon></button>
  </div>
  <div *ngIf="response == false" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
    <div *ngIf="response == true && pets" div fxLayout="column" fxLayoutAlign="center none" fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="center none">
        <div *ngFor="let pet of pets">
            <mat-card class="card">
                <mat-card-header>
                  <mat-card-title>{{pet.Name}}</mat-card-title>
                  <mat-card-subtitle>ID: {{pet.Id}}</mat-card-subtitle>
                </mat-card-header>
                <a (click)="viewPet(pet.Id)">
                  <img mat-card-image class="imgs" src="{{pet.MainPicture}}" alt="{{pet.Id}}">
                </a>
                <mat-card-content>
                  <p>
                    {{pet.Description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-flat-button color="accent" (click)="viewPet(pet.Id)">Edit</button>
                  <button mat-stroked-button color="primary">Delete</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div *ngIf="pets.length == 0 && response" class="row">
              <h2 class=".mat-h2" fxLayout="row" fxLayoutAlign="center center">
                You have not added a buddy to your herd
              </h2>
              <h3 class=".mat-h2">
                <mat-icon aria-hidden="false" aria-label="arrow">arrow_upward</mat-icon>
                Click above to add a new friend into your list
              </h3>
          </div>
        </div>
        
      <mat-divider></mat-divider>
      <br>
      <button mat-raised-button color="primary" (click)="goBack()">Go Back</button>
</div>
