.card{
    max-width: 300px;
    display: inline-block;
    margin: 25px;
  }
  
  .example-header-image {
    background-size: cover;
  }

  .inline-block {
    display: inline-block;
  }
  
  button {
    margin: 15px;
  }